*{
    padding: 0px;
    margin: 0px;
}

body{
    align-items: center;
    text-align: center;
    background-color: white;
    color: black;
}

h1{
    margin: 25px;
    text-align: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: orangered;
}

.btn{
    width: 250px;
    height: 50px;
    border: 1px solid orangered;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.btn:hover{
    padding: 5px;
    background-color: skyblue;
    margin: 5px;
    transition: 0.2 ease;
}